<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div id="wrapper" style="height: 100%">
    <div class="container-fluid" style="height: 100%">
        <div class="row" id="navbarHead" style="height: 7%">
            <div class="col p-0 m-0">
                <nav class="navbar navbar-dark bg-dark align-content-stretch" id="navbar">
                    <div><h5 style="color: lightgray"><span th:utext="|${admin.email}|"></span><b> with roles: </b>
                        <a th:each="role :${admin.roles}" th:text="${role.getRole()} + ' '"></a></div>
                    <form th:action="@{/logout}" method="post" style="border: 0 none;outline: none">
                        <input type="submit" value="Logout" style="all: unset; color: lightgray; cursor: pointer" />
                    </form>
                </nav>
            </div>
        </div>
        <div class="row" id="content" style="height: 93%">
            <div class="col-3 bg-light">
                <div id="sidebar">
                    <div sec:authorize="hasAuthority('ADMIN')" class="btn-primary"><a th:href="@{/admin}" style="color: whitesmoke; text-decoration: none;">Admin</a></div>
                    <div><a th:href="@{/admin/{id}(id=${admin.id})}" style="text-decoration: none">User</a></div>
                </div>
            </div>
            <div class="col-9">
                <div style="padding-top: 10px; padding-left: 10px;"><h2 style="margin-bottom: -12px">Admin panel</h2>
                    <br>
                    <div>
                        <div class="w-25 d-flex flex-row" style="padding-right: 10px">
                            <a href="#" style="all: unset; width: 50%;"><button type="button" class="btn w-100" style="background: lightgray; color: black;">
                                Users table</button></a>
                            <a th:href="@{/adduser}" style="all: unset; width: 50%;"><button type="button" class="btn w-100" style="background: transparent; color: darkblue;">
                                New User</button></a>
                        </div>
                        <div class="card">
                            <div class="card-header font-weight-bold"><h4>Add new user</h4></div>
                            <div class="card-body">
                                <form th:method="post" th:action="@{/adduser}" th:object="${user}" style="display: grid">
                                    <div class="text-center">
                                        <div class="form-group">
                                            <label for="firstName">First name</label>
                                            <input type="text" th:value="*{firstName}" name="firstName" class="form-control" id="firstName">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName">Last name</label>
                                            <input type="text" th:value="*{lastName}" name="lastName" class="form-control" id="lastName">
                                        </div>
                                        <div class="form-group">
                                            <label for="age">Age</label>
                                            <input type="number" th:value="*{age}" name="age" class="form-control" id="age">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" th:value="*{email}" name="email" class="form-control" id="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="text" th:value="*{password}" name="password" class="form-control" id="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="roleSet" class="font-weight-bold">Role:</label>
                                            <select class="form-control custom-select" multiple request size="2"
                                                    name="nameRoles" id="roleSet">
                                                <option value="USER" selected>USER</option>
                                                <option value="ADMIN" selected>ADMIN</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-success" value="Add new user" style="height: 45px">
                                        </div>
                                    </div>
                                </form>
</body>
</html>