<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div id="wrapper" style="height: 100%">
    <div class="container-fluid" style="height: 100%">
        <div class="row" id="navbarHead" style="height: 10%">
            <div class="col p-0 m-0">
                <nav class="navbar navbar-dark bg-dark align-content-stretch" id="navbar">
                    <div><h5 style="color: white"><span th:utext="${nameAdmin.getUsername()}"></span><b> with roles: </b>
                        <a th:each="role :${nameAdmin.getRoles()}" th:text="${role.getRole()} + ' '"></a></h5>
                    </div>
                    <form th:action="@{/logout}" method="GET" style="border: 0 none;outline: none">
                        <input type="submit" value="Logout" style="all: unset; color: gray; cursor: pointer"/>
                    </form>

                </nav>
        </div>
        </div>
        <div class="row" id="content" style="height: 93%">
            <div class="col-3 bg-light">
                <div id="sidebar">
                    <div sec:authorize="hasAuthority('ADMIN')" class="btn-primary"><a th:href="@{/admin}" style="color: white; text-decoration: none; ">Admin</a></div>
                    <div><a th:href="@{/user}" style="text-decoration: none">User</a></div>
                </div>
            </div>
            <div class="col-9">
                <div style="padding-top: 10px; padding-left: 10px;"><h2 style="margin-bottom: -12px">Admin panel</h2>
                    <br>
                    <div>
                        <div class="w-25 d-flex flex-row" style="padding-right: 10px">
                            <a href="#" style="all: unset; width: 50%;"><button type="button" class="btn w-100" style="background: lightgray; color: black;">
                                Users table</button></a>
                            <a th:href="@{/adduser}" style="all: unset; width: 50%;"><button type="button" class="btn w-100" style="background: transparent; color: darkblue;">
                                New User</button></a>
                        </div>
                        <div class="card">
                            <div class="card-header font-weight-bold"><h4>All users</h4></div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>AGE</th>
                                        <th>Email</th>
                                        <th >Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${userAll}"  >
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.age}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td><a th:each="role :${user.roles}" th:text="${role.getRole()} + ' '"></a></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" th:attrappend="data-target='#editUser'+ ${user.getId()}" >Edit</button>
                                        <div class="modal fade" th:attrappend="id='editUser'+ ${user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <form action="#" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}" th:method="put">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body text-center">
                                                            <div class="form-group">
                                                                <label for="ID" class="col-form-label">ID</label>
                                                                <input type="number" readonly th:value="*{id}" class="form-control" id="ID">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="firstName" class="col-form-label">First name</label>
                                                                <input type="text" th:value="*{firstName}" name="firstName" class="form-control" id="firstName">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="lastName" class="col-form-label">Last name</label>
                                                                <input type="text" th:value="*{lastName}" name="lastName" class="form-control" id="lastName">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="age" class="col-form-label">Age</label>
                                                                <input type="number" th:value="*{age}" name="age" class="form-control" id="age">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email" class="col-form-label">Email</label>
                                                                <input type="text" th:value="*{email}" name="email" class="form-control" id="email">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="password" class="col-form-label">Password</label>
                                                                <input type="text" th:value="*{password}" name="password" class="form-control" id="password">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="roleSet" class="font-weight-bold">Role:</label>
                                                                <select class="form-control custom-select" multiple request size="2"
                                                                        name="nameRoles" id="roleSet">
                                                                    <option value="USER" selected>USER</option>
                                                                    <option value="ADMIN" selected>ADMIN</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" value="Update" class="btn btn-primary">Edit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" th:attrappend="data-target='#deleteUser'+ ${user.id}">Delete</button>
                                            <div class="modal fade" th:attrappend="id='deleteUser'+ ${user.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabe" aria-hidden="true">
                                                <form action="#" th:action="@{/delete/{id}(id=${user.id})}" th:object="${user}" th:method="delete">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModelLabe">Delete user</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body text-center">
                                                                <div class="form-group">
                                                                    <label for="ID" class="col-form-label">ID</label>
                                                                    <input type="number" readonly th:value="*{id}" class="form-control" id="ID">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="firstName" class="col-form-label">First name</label>
                                                                    <input type="text" readonly th:value="*{firstName}" name="firstName" class="form-control" id="firstName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="lastName" class="col-form-label">Last name</label>
                                                                    <input type="text" readonly th:value="*{lastName}" name="lastName" class="form-control" id="lastName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="age" class="col-form-label">Age</label>
                                                                    <input type="number" readonly th:value="*{age}" name="age" class="form-control" id="age">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email" class="col-form-label">Email</label>
                                                                    <input type="text" readonly th:value="*{email}" name="email" class="form-control" id="email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="password" class="col-form-label">Password</label>
                                                                    <input type="text" readonly th:value="*{password}" name="password" class="form-control" id="password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="roles" class="col-form-label">Role</label>
                                                                    <select multiple class="form-control" readonly id="roles" size="2">
                                                                        <option>ADMIN</option>
                                                                        <option>USER</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" value="Update" class="btn btn-primary">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                    </tbody>
                                </table>
                            </div>